@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('http://themes.googleusercontent.com/static/fonts/inconsolata/v5/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
body {
  /* From subtlepatterns.com */
  background-image: url('images/old_mathematics.png?3');
  font-size: 12pt;
}
#container {
  background-color: #fff;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.hero-unit {
  /* Photo: http://www.flickr.com/photos/dags1974/2443353018/in/photostream/ (Creative Commons) */
  xbackground: #fff;
  xbackground-image: url('images/hero-bg.jpg?3');
  background-position: center;
  xcolor: #fff;
}
code, pre {
  font-family: Inconsolata, monospace;
  font-size: 12pt;
}
blockquote {
  color: #888;
  font-size: 9pt;
}
blockquote p {
  margin-bottom: 1.1em;
}
